@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* fonts */
    --nunito: 'Nunito', sans-serif;

    /* colors */
    --accent: #e54065;
    --white: #ffffff;
    --black: #000000;
    --background: #f4f5f9;
    --border: #cfd2dc;
    --text: #636363;
    --filter-btn: #e1e4ea;
    --card-background: #ffffff;
    --read-background: #f2f2f2;

    /* border radius */
    --br-sq: 7px;
    --br-cr: 2rem;
}